<section class="hero is-dark is-large">
<div class="hero-body level">
  <div class="level-left">
    <div class="container">
      <p class="title">
        Centiment
      </p>
      <p class="subtitle">
        A cryptocurrency news aggregator.
      </p>
    </div>
  </div>

    <div class="level-right">
      <svg class="level-item"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 226.78 226.78" width="300" height="300">
        <g class="cls-2" id="Laag_2" data-name="Laag 2"><path style="fill:white;" class="cls-3" transform="rotate(45 118.485 107.928)" d="M33.5 14.95h169.97v185.96H33.5z"/>
        </g>
      </svg>
    </div>


</div>
</section>
{{outlet}}
