<section class="section">
  <div class="container">
    <h1 class="title">Centiment analysis</h1>
    <h2 class="subtitle">
      Each currency listed alongside it has a record of it's calculated <strong>centiment</strong>.
    </h2>
    <div class="content">

    <p>
      <blockquote>To learn more about what <i>sentiment</i> is, {{#link-to 'about'}} click here.{{/link-to}}</blockquote>
    </p>
  </div>

  </div>
</section>

<table class="container table">
  <thead>
    <tr>
      <th><abbr title="Currency ID">ID</abbr></th>
      <th>Currency</th>
      <th>Sentiment</th>


    </tr>
  </thead>

  <tbody>

      <tr>
        <th>BTC</th>
        <td>
          <a href="https://en.wikipedia.org/wiki/Aston_Villa_F.C." title="Bitcoin">Bitcoin</a> <strong>(R)</strong>
        </td>
        <td>38</td>
      </tr>

  </tbody>
</table>

<div class="box container">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="http://logok.org/wp-content/uploads/2016/10/Bitcoin-Logo-640x480.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>BTC</strong> <small>Bitcoin Core</small>
          <br>
        BitMEX, a Hong Kong-based cryptocurrency trading platform, has sold all of the Bitcoin Cash (BCH) cryptocurrency granted to its customers during the Bitcoin clone’s creation in August, and says it will credit those users with an equivalent value of Bitcoin (BTC).
        </p>


        <p><strong>Highlighted Articles</strong></p>
        <div class="columns">
          <div class="column">
            <div class="card">
              <header class="card-header">
              <article style="padding-top:30px;" class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://s.hswstatic.com/gif/cnn-debut-1.jpg">
                  </p>
                </figure>
                <div class="media-content">
                <div class="content">
                  <p>
                    <strong>A Major Cryptocurrency Platform Has Liquidated</strong>
                    <br>
                     <small><a class="has-text-grey" href="http://cnn.com/">- CNN</a></small>
                  </p>
                </div>
              </div>
              </article>
            </header>
              <div class="card-content">
                <div class="content">
                  A multitude of prominent investors in the crypto-space, notably <strong> Alan Greenspan </strong> and <strong> Greg Bernanke </strong> have been vocal about the dicontent with the currency.
                  <br />
                  <p style="margin-bottom:5px; margin-top: 20px;" class="has-text-success"><small >Sentiment: 35</small></p>

                  <progress class="progress is-success" value="70" max="100">70%</progress>
                </div>
              </div>
              <footer class="card-footer">
                    <a href="#" class="has-text-success card-footer-item">View Article</a>
              </footer>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <header class="card-header">
              <article style="padding-top:30px;" class="media">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://s.hswstatic.com/gif/cnn-debut-1.jpg">
                  </p>
                </figure>
                <div class="media-content">
                <div class="content">
                  <p>
                    <strong>A Major Cryptocurrency Platform Has Liquidated</strong>
                    <br>
                     <small><a class="has-text-grey" href="http://cnn.com/">- CNN</a></small>
                  </p>
                </div>
              </div>
              </article>
            </header>
              <div class="card-content">
                <div class="content">
                  A multitude of prominent investors in the crypto-space, notably <strong> Alan Greenspan </strong> and <strong> Greg Bernanke </strong> have been vocal about the dicontent with the currency.
                  <br />
                  <p style="margin-bottom:5px; margin-top: 20px;" class="has-text-danger"><small >Sentiment: -21</small></p>

                  <progress class="progress is-danger" value="90" max="100">90%</progress>
                </div>
              </div>
              <footer class="card-footer">
                    <a href="#" class="has-text-danger card-footer-item">View Article</a>
              </footer>
            </div>
          </div>
        </div>

      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fa fa-heart"></i></span>
          </a>
        </div>
      </nav>

    </div>
  </article>
</div>

{{outlet}}
